{% extends 'layout.html' %}
{% block content %}
        <section class="message-box l">
            <h2>파일 신고</h2>
        </section>

        <section class="lf">
            <form method="post">
                <p>
                    <button class="btn" type="submit">신고 하기</button>
                    <a class="btn" href="{{ url_for('md5.index') }}">검색 화면으로 돌아가기</a>
                </p>
                <textarea id="text" name="text" style="width:100%;" rows="6"></textarea>
            </form>
        </section>
{% endblock %}