{% extends 'layout.html' %}
{% block content %}
        <section class="message-box l">
            <h2>업로드 성공</h2>
            <p>파일명 : <span class="high">{{ filename }}</span></p>

            <p>
                <a class="btn" href="{{ url_for('dl.ask', idx=idx) }}">다운로드</a>
                <button class="btn copy" data-clipboard-text="{{ g.host }}{{ url_for('dl.ask', idx=idx) }}">링크 복사</button>
            </p>
        {% if session.get("login") != none %}
            <p>
                <a class="btn" href="{{ url_for('github.delete', idx=idx ) }}?go=index">파일 삭제하기</a>
            </p>
        {% endif %}
        </section>

        <section class="menu">
            <a class="btn" href="{{ url_for('index.index') }}">메인 화면으로 돌아가기</a>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
        <script>
            new ClipboardJS(".copy").on("success",function(){window.alert("복사되었습니다!")});
        </script>
{% endblock %}