{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <h3 class="display-3">경고! 신고된 파일</h3>
        <p class="lead">파일을 다운로드하기 전에 다시 확인하세요</p>
    </div>

    <div class="row py-5">
        <p>
            <a class="btn btn-warning btn-lg" href="{{ url_for('dl.warn_off', idx=ctx.idx, md5=ctx.md5) }}">경고 무시하기</a>
        </p>
    </div>

    <div class="row py-5">
        <table class="table">
            <tr>
                <th scope="row">파일 아이디</th>
                <td class="copy" data-clipboard-target="#idx" id="idx">{{ ctx.idx }}</td>
            </tr>
            <tr>
                <th scope="row">업로드 시간</th>
                <td class="copy" data-clipboard-target="#upload" id="upload">{{ ctx.upload }}</td>
            </tr>
            <tr>
                <th scope="row">크기</th>
                <td class="copy" data-clipboard-target="#size" id="size">{{ ctx.size }} ({{ ctx.size|size }})</td>
            </tr>
            <tr>
                <th scope="row">MD5</th>
                <td class="copy" data-clipboard-target="#md5" id="md5">{{ ctx.md5 }}</td>
            </tr>
        </table>
    </div>

    <div class="row py-5">
        <h6 class="display-6">신고 사유</h6>
        <textarea class="form-control" rows="6" readonly="readonly">{{ report.text }}</textarea>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script>
        new ClipboardJS(".copy").on("success",function(){window.alert("복사되었습니다!"),window.getSelection().removeAllRanges();});
    </script>
{% endblock %}