{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <h3 class="display-3">업로드!</h3>
        <form method="post" action="{{ url_for('upload.upload') }}" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <label class="input-group-text" for="timeout">파일 보관 기간</label>
                <select class="form-select" id="timeout" name="timeout">
                    <option value="1" selected>1일</option>
                    <option value="2">2일</option>
                    <option value="3">3일</option>
                    <option value="4">4일</option>
                    <option value="5">5일</option>
                    <option value="6">6일</option>
                    <option value="7">7일</option>
                    <option value="8">8일</option>
                    <option value="9">9일</option>
                    <option value="10">10일</option>
                    <option value="11">11일</option>
                    <option value="12">12일</option>
                    <option value="13">13일</option>
                    <option value="14">14일</option>
                </select>
            </div>
            <p>
                <input type="file" name="upload" class="form-control" required="required">
            </p>
            <button class="btn btn-primary btn-lg" type="submit">파일 업로드</button>
        </form>
    </div>

    <div class="row py-5">
        <ul class="lead">
            <li>파일은 최대 {{ MAX_FILE_SIZE|size_int }}까지 업로드가 가능합니다.</li>
            <li>파일 업로더의 IP 주소는 기록되지 않으나 서버 로그에 남을 수 있습니다.</li>
        </ul>
    </div>
{% endblock %}