{% extends 'layout.html' %}
{% block content %}
        <section class="message-box l">
            <form method="post" action="{{ url_for('upload.upload') }}" enctype="multipart/form-data">
                <p><input type="file" name="upload" id="upload"></p>

                <button class="btn" type="submit" style="width:30%;">업로드</button>
            </form>
        </section>

        <section class="menu">
            용량 제한 50MB | 1일후 파일 삭제 | <a href="{{ url_for('md5.index') }}">검색하기</a>
        </section>
{% endblock %}