{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>안녕하세요</h2>
        </section>

        <section class="lf">
            <p>로그인 유저: {{ username }}</p>
            <ul>
                <li><a class="btn" href="{{ url_for('index.index') }}">파일 업로드 하러 가기</a></li>
            </ul>
        </section>

        <section class="lf">
            <hr>
            <ol>
        {% for file in ctx %}
                <li><a href="{{ url_for('github.detail', idx=file.idx) }}">{{file.filename}}</a></li>
        {% endfor %}
            </ol>
        </section>
{% endblock %}