{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>안녕하세요</h2>
        </section>

        <section class="lf">
            <p>로그인 유저: {{ username }}</p>
            <ul>
                <li><a class="btn" href="{{ url_for('github.dashboard') }}">업로드 된 파일 보러가기</a></li>
                <li><a class="btn" href="{{ url_for('index.index') }}">파일 업로드 하러 가기</a></li>
            </ul>
        </section>

        <section class="lf">
            <hr>
            <ol>
                <li>파일 고유번호: {{ ctx.idx }}</li>
                <li>파일 이름: {{ ctx.filename }}</li>
                <li>파일 업로드 일자: {{ ctx.upload }}</li>
                <li>파일 MD5해시: {{ ctx.md5 }}</li>
                <li>파일 크기: {{ ctx.size|size }}</li>
            </ol>

            <a class="btn" href="{{ url_for('github.delete', idx=ctx.idx ) }}">파일 삭제하기</a>
        </section>
{% endblock %}