{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>파일 관리</h2>
        </section>

        <section class="lf" style="padding-bottom:30px;">
            <p>로그인 유저: {{ username }}</p>
            <div>
                <a class="btn" href="{{ url_for('index.index') }}">파일 업로드 하러 가기</a>
                <a class="btn" href="{{ url_for('github.dashboard') }}">업로드 된 파일 보러가기</a>
            </div>
        </section>

        <section class="lf">
            <table>
                <tr>
                    <th>파일 고유번호</th>
                    <td><a class="high" href="{{ url_for('dl.ask', idx=ctx.idx) }}" target="_blank">{{ ctx.idx }}</a></td>
                </tr>
                <tr>
                    <th>파일 이름</th>
                    <td>{{ ctx.filename }}</td>
                </tr>
            </table><br>

            <form method="post">
                <input type="text" name="filename" placeholder="새로운 파일명" style="width:90%">
                <p>
                    <button class="btn" type="submit">수정하기</button>
                </p>
            </form>
        </section>
{% endblock %}